<mat-card>
  <mat-form-field>
    <input type="text" matInput placeholder="name" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input type="email" matInput placeholder="email" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input type="contact number" matInput placeholder="contact number" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input type="password" matInput placeholder="password" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input type="confirm password" matInput placeholder="confirm password" required>
  </mat-form-field>
  <div class="example-button-row">
    <button mat-raised-button color="primary">Submit</button>
  </div>
</mat-card>
